@import 'src/styles/variables.scss';

.table-container {
    @media (max-width: 1440px) {
        .table {
            overflow-x: auto;

            .table-height {
                min-width: 850px;
            }
        }
    }

    @media (max-width: 1024px) {
        .search-bar-inputs {
            h2 {
                display: none;
            }
        }
    }

    @media (max-width: 768px) {
        .table {
            height: calc(100vh - 308px);
        }

        .cards {
            max-height: calc(100vh - 308px);

            .card {
                min-width: calc(100vw - 86px);
            }
        }
    }

    @media (max-width: 600px) {
        .search-bar-inputs {
            span {
                display: none;
            }
        }
    }

    @media (max-width: 491px) {
        .table {
            height: calc(100vh - 350px);
        }

        .cards {
            max-height: calc(100vh - 350px);
        }
    }
}

@media (max-width: 768px) {
    .mobile-button {
        display: unset;
    }

    .desktop-button {
        display: none;
    }
}
