<div class="notifications-container">
    <div class="column">
        <div class="row">
            <volunterio-toggle label="Enable Notifications"
                               i18n-label
                               [(enabled)]="notificationsConfig.enableNotifications">
            </volunterio-toggle>
        </div>
        @if (notificationsConfig.enableNotifications) {
            <div class="row">
                <volunterio-toggle label="Enable Tag Filtration"
                                   i18n-label
                                   [(enabled)]="notificationsConfig.enableTagFilter">
                </volunterio-toggle>
                @if (notificationsConfig.enableTagFilter) {
                    <mat-form-field>
                        <mat-label i18n>
                            Filter Tags
                        </mat-label>
                        <input matInput
                               [formControl]="tagFiltersFormControl"
                               (input)="setTags($event)">
                        <mat-error i18n
                                   *ngIf="tagFiltersFormControl.hasError('required')">
                            Tags are required
                        </mat-error>
                        <mat-hint i18n>
                            Separate tags with commas
                        </mat-hint>
                    </mat-form-field>
                }
            </div>

            <div class="row">
                <volunterio-toggle label="Enable Title Filtration"
                                   i18n-label
                                   [(enabled)]="notificationsConfig.enableTitleFilter">
                </volunterio-toggle>

                @if (notificationsConfig.enableTitleFilter) {
                    <mat-form-field>
                        <mat-label i18n>
                            Filter Titles
                        </mat-label>
                        <input matInput
                               [formControl]="titleFiltersFormControl"
                               (input)="setTitles($event)">
                        <mat-error i18n
                                   *ngIf="titleFiltersFormControl.hasError('required')">
                            Titles are required
                        </mat-error>
                        <mat-hint i18n>
                            Separate title substrings with commas
                        </mat-hint>
                    </mat-form-field>
                }
            </div>

            @if (notificationsConfig.enableTagFilter || notificationsConfig.enableTitleFilter) {
                <div class="row">
                    <h3 i18n>
                        DANGER ZONE: This will enable notifications for all the updates and can cause a lot of notifications
                    </h3>
                </div>
                <div class="row">
                    <volunterio-toggle label="Enable Update Notifications"
                                       i18n-label
                                       [(enabled)]="notificationsConfig.enableUpdateNotifications">
                    </volunterio-toggle>
                </div>
            }
        }
        
        <button mat-stroked-button 
                color="accent"
                [disabled]="isButtonDisabled()"
                (click)="save()"
                class="save-button"
                i18n>
            Save
        </button>
    </div>
</div>
