<div class="app-container">
    <div class="header">
        <button mat-icon-button
                (click)="toggleBar()"
                class="toggle-bar-button">
            <mat-icon>
                menu
            </mat-icon>
        </button>
        <div class="logo">
            <img src="assets/img/logo.svg"
                 alt="App Logo"
                 i18n-alt>
        </div>
        <div class="toolbar-right-side">
            <div *ngIf="userName" 
                 class="user-info">
                <div class="user-avatar">
                    <img [defaultImage]="avatarThumbnailUrl"
                         [lazyLoad]="avatarUrl"
                         alt="User Avatar"
                         i18n-alt>
                </div>
                <span class="user-name">
                    {{userName}}
                </span>
                <button mat-icon-button 
                        [matMenuTriggerFor]="menu" 
                        matTooltip="Settings"
                        i18n-matTooltip>
                    <mat-icon>
                        settings
                    </mat-icon>
                </button>
            </div>
            <button mat-icon-button
                    matTooltip="Logout"
                    i18n-matTooltip
                    (click)="logout($event)">
                <mat-icon>
                    logout
                </mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item 
                        (click)="profileDialog()">
                    <mat-icon>
                        person
                    </mat-icon>
                    <span i18n>
                        Profile
                    </span>
                </button>
                <button mat-menu-item
                        (click)="changePasswordDialog()">
                    <mat-icon>
                        lock_reset
                    </mat-icon>
                    <span i18n>
                        Change password
                    </span>
                </button>
                <button mat-menu-item
                        (click)="logout($event)">
                    <mat-icon>
                        logout
                    </mat-icon>
                    <span i18n>
                        Logout
                    </span>
                </button>
            </mat-menu>
        </div>
        <button mat-icon-button 
                [matMenuTriggerFor]="mobileMenu" 
                matTooltip="Settings"
                i18n-matTooltip
                class="mobile-right-menu">
            <mat-icon>
                settings
            </mat-icon>
        </button>
        <mat-menu #mobileMenu="matMenu">
            <div *ngIf="userName" 
                 class="user-info">
                <div class="user-avatar">
                    <img [src]="avatarUrl"
                         alt="User Avatar"
                         i18n-alt>
                </div>
                <span class="user-name">
                    {{userName}}
                </span>
            </div>
            <button mat-menu-item 
                    (click)="profileDialog()">
                <mat-icon>
                    person
                </mat-icon>
                <span i18n>
                    Profile
                </span>
            </button>
            <button mat-menu-item
                    (click)="changePasswordDialog()">
                <mat-icon>
                    lock_reset
                </mat-icon>
                <span i18n>
                    Change password
                </span>
            </button>
            <button mat-menu-item
                    (click)="logout($event)">
                <mat-icon>
                    logout
                </mat-icon>
                <span i18n>
                    Logout
                </span>
            </button>
        </mat-menu>
    </div>
    <div class="nav-bar"
         [class.hidden]="!showBar">
        <mat-nav-list>
            <mat-list-item matTooltip="Requests"
                           i18n-matTooltip
                           matTooltipPosition="below"
                           routerLink="/requests"
                           tabindex="7"
                           routerLinkActive="active-link"
                           *ngIf="showRequests"
                           (click)="closeBarIfMobile()">
                <mat-icon mat-list-icon>
                    quiz
                </mat-icon>
                <span i18n>
                    Requests
                </span>
            </mat-list-item>
            <mat-list-item matTooltip="Notifications"
                           i18n-matTooltip
                           matTooltipPosition="below"
                           routerLink="/notifications"
                           tabindex="7"
                           routerLinkActive="active-link"
                           *ngIf="showNotifications"
                           (click)="closeBarIfMobile()">
                <mat-icon mat-list-icon>
                    notifications
                </mat-icon>
                <span i18n>
                    Notifications
                </span>
            </mat-list-item>
            
            <mat-list-item matTooltip="Account Preferences"
                           i18n-matTooltip
                           matTooltipPosition="below"
                           routerLink="/account-preferences"
                           tabindex="7"
                           routerLinkActive="active-link"
                           *ngIf="showAccountPreferences"
                           (click)="closeBarIfMobile()">
                <mat-icon mat-list-icon>
                    manage_accounts
                </mat-icon>
                <span i18n>
                    Account Preferences
                </span>
            </mat-list-item>

            <mat-list-item [hidden]="!showRoles && !showUsers" 
                           matTooltip="Admin panel"
                           matTooltipPosition="below"
                           (click)="toggleAdmin()"
                           class="parent"
                           routerLinkActive="active-link"
                           [routerLinkActiveOptions]="{ exact: true}"
                           *ngIf="showUsers || showRoles">
                <mat-icon mat-list-icon>
                    computer
                </mat-icon>
                <span i18n>
                    Admin panel
                </span>
                <mat-icon class="menu-button"
                          [ngClass]="{'rotated' : showAdminMenu}">
                    expand_more
                </mat-icon>
            </mat-list-item>
            <div class="submenu"
                 [ngClass]="{'expanded' : showAdminMenu}">
                <mat-list-item routerLink="/admin/users"
                               class="submenu-item"
                               routerLinkActive="active-link"
                               *ngIf="showUsers"
                               matTooltip="Users Management"
                               i18n-matTooltip
                               (click)="closeBarIfMobile()">
                    <mat-icon mat-list-icon>
                        manage_accounts
                    </mat-icon>
                    <span i18n>
                        Users Management
                    </span>
                </mat-list-item>

                <mat-list-item routerLink="/admin/roles"
                               class="submenu-item"
                               routerLinkActive="active-link"
                               *ngIf="showRoles"
                               matTooltip="Roles & Permissions"
                               i18n-matTooltip
                               (click)="closeBarIfMobile()">
                    <mat-icon mat-list-icon>
                        lock_open
                    </mat-icon>
                    <span i18n>
                        Roles & Permissions
                    </span>
                </mat-list-item>
            </div> 
        </mat-nav-list>
    </div>
    <div class="overlay">
        <div id="navBarTouchableOpacityOverlay"
             [class.visible]="showBar"
             (click)="toggleBar(false)">
        </div>
    </div>
    <div class="app-content-wrapper"
         [class.full-width]="!showBar">
        <div class="app-content"
             [class.transparent]="isContentTransparent">
            <div class="router-content">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
    <div class="installed-app-buttons-container">
        <div class="installed-app-buttons">
            <button mat-stroked-button
                    matTooltip="Go Back"
                    i18n-matTooltip
                    (click)="goBack()">
                <mat-icon>
                    arrow_back
                </mat-icon>
                <span i18n>
                    Back
                </span>
            </button>
            <button mat-stroked-button
                    matTooltip="Go Forward"
                    i18n-matTooltip
                    (click)="goForward()">
                <span i18n>
                    Forward
                </span>
                <mat-icon>
                    arrow_forward
                </mat-icon>
            </button>
        </div>
    </div>
    
</div>
