@import 'src/styles/variables.scss';

.app-container {
	display: flex;
	flex-direction: row;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;

	.header {
		display: flex;
		flex-direction: row;
		background-color: $first-company-color;
		height: 48px;
		width: 100vw;
		position: absolute;

		.logo {
			display: flex;
			overflow: hidden;
			height: 48px;
			position: absolute;
			transition: all 225ms ease-in-out;
			left: 48px;
		}

		.toggle-bar-button {
			display: block;
			position: absolute;
			transition: all 225ms ease-in-out;
			color: $third-additional-color;
		}

		.toolbar-right-side {
			margin-left: auto;
			display: flex;
			flex-direction: row;
			align-items: center;
			color: $third-additional-color;
			transition: all 225ms ease-in-out;

			.user-info {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-right: 2px solid $third-additional-color;

				.user-avatar {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 40px;
					height: 40px;
					font-size: 20px;
					color: $third-additional-color;
					border-radius: 100%;
					margin-right: 10px;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						border-radius: 100%;
						transition: all 225ms ease-in-out;
						margin-left: 0;
					}
				}

				.user-name {
					font-size: 16px;
					max-width: calc(100vw - 350px);
				}
			}
		}

		.mobile-right-menu {
			position: absolute;
			z-index: 1000;
			right: 0;
			color: $third-additional-color;
			transform: translateX(130%);
			transition: all 225ms ease-in-out;
		}
	}

	.nav-bar {
		display: flex;
		flex-direction: column;
		background-color: $third-additional-color;
		height: calc(100vh - 48px);
		top: 48px;
		width: 270px;
		transition: all 225ms ease-in-out;
		position: absolute;

		&.hidden {
			transform: translateX(-100%);
		}

		img {
			width: 230px;
			object-fit: contain;
		}

		mat-icon {
			margin-bottom: -5px;
		}

		mat-nav-list {
			overflow-y: auto;
			height: 100%;
			padding: 20px;

			mat-list-item {
				padding: 0 10px 0 10px;
				margin: 0;
				height: 40px;
				border-radius: 20px;

				&:hover::before {
					background-color: transparent !important;
				}

				&.active-link {
					span {
						color: $third-company-color !important;
						font-weight: 500;
					}

					mat-icon {
						color: $third-company-color !important;
					}
				}

				.menu-button {
					transition: 300ms ease-in-out;
					transform: rotate(0deg);

					&.rotated {
						transform: rotate(180deg);
					}
				}
			}
		}

		.submenu {
			position: absolute;
			transition: all 300ms ease;
			transform: scaleY(0);
			transform-origin: top;
			padding-left: 10px;

			&.expanded {
				transform: scaleY(1);
				position: relative;
			}

			.submenu-item {
				font-size: 13px;
				padding-left: 10px !important;
				color: $third-additional-color !important;

				&:hover {
					background-color: #00000000 !important;
					color: var(--mdc-filled-text-field-caret-color) !important;
				}
			}
		}
	}

	.overlay {
		display: none;

		#navBarTouchableOpacityOverlay {
			display: none;
			flex-direction: column;
			flex: 1;
			overflow-x: hidden;
			transition: all 225ms ease-in-out;
			width: 100vw;
			height: calc(100vh - 48px);
			position: absolute;
			top: 48px;
			background-color: $first-additional-color;
			transition: all 225ms ease-in-out;
			animation: fade-in 225ms ease-in-out 0s 1;
			z-index: 999;
		}
	}

	@keyframes fade-in {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	.app-content-wrapper {
		display: flex;
		flex-direction: column;
		flex: 1;
		overflow-x: hidden;
		transition: all 225ms ease-in-out;
		width: calc(100vw - 270px);
		height: calc(100vh - 48px);
		position: absolute;
		top: 48px;
		left: 270px;
		background-color: $first-additional-color;
		transition: all 225ms ease-in-out;

		&.full-width {
			width: 100vw;
			left: 0;
		}

		.app-content {
			height: calc(100vh - 88px);
			overflow-y: auto;
			padding: 20px;
			margin: 20px;
			background-color: $third-additional-color;
			border-radius: 10px;
			transition: all 225ms ease-in-out;

			&.transparent {
				background-color: transparent;
				padding: 0;
				margin: 0;
				border-radius: 0;
				height: calc(100vh - 48px);
			}
		}

		.router-content {
			display: flex;
			flex-direction: column;
			flex: 1;
		}
	}

	.installed-app-buttons-container {
		position: absolute;
		width: 100vw;
		height: 64px;
		bottom: -64px;
		background-color: $first-additional-color;
		align-items: center;
		transition: all 225ms ease-in-out;

		.installed-app-buttons {
			height: 44px;
			margin-top: 10px;
			padding-top: 10px;
			margin-left: 10px;
			margin-right: 10px;
			padding-right: 20px;
			padding-left: 20px;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
			background-color: $third-additional-color;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}
