.app-container {
	@media (max-width: 768px) {
		position: relative;

		.nav-bar {
			position: absolute;
			z-index: 1000;

			h1 {
				margin-top: 20px;
			}
		}

		.overlay {
			display: unset;
			
			#navBarTouchableOpacityOverlay {
				&.visible {
					display: flex;
				}
			}
		}

		.app-content-wrapper {
			padding: 0;
			width: 100vw;
			height: calc(100vh - 104px);
			left: 0;
			overflow: hidden;

			.app-content {
				margin: 10px;
				padding: 10px;
				overflow-y: auto;

				&.transparent {
					padding: 0;
					margin: 0;
				}
			}
		}

		.installed-app-buttons-container {
			bottom: 0;
		}
	}

	@media (max-width: 615px) {
		.toolbar-right-side {
			transform: translateY(-100%);
			opacity: 0;
		}

		.mobile-right-menu {
			transform: translateX(0) !important;
		}
	}
}
