@import 'src/styles/variables.scss';

.table-container {
    @media (max-width: 1440px) {
        .table {
            overflow-x: auto;

            .table-height {
                min-width: 800px;
            }
        }
    }

    @media (max-width: 768px) {
        .table {
            height: calc(100vh - 308px);
        }
    }

    @media (max-width: 491px) {
        .table {
            height: calc(100vh - 350px);
        }
    }
}
