@import 'variables';

mat-form-field {
	.mat-mdc-text-field-wrapper {
		background-color: transparent !important;
		padding: 0 !important;

		.mat-mdc-form-field-focus-overlay {
			display: none !important;
		}

		.mat-mdc-form-field-flex {
			background-color: transparent !important;
			height: 100%;

			.mdc-notched-outline {
				display: none !important;
			}

			.mat-mdc-form-field-infix {
				background-color: transparent !important;
				height: 100%;
				label {
					color: unset !important;
					transform: translateY(-150%) !important;
					font-weight: $default-font-weight !important;
					font-size: $default-font-size !important;
					line-height: $default-line-height !important;
				}

				input {
					background-color: $secondary-background-color !important;
					height: 30px;
					border-radius: 5px;
					border-left-width: 10px;
					border-left-color: $secondary-background-color !important;
					border-left-style: solid;
					font-weight: $default-font-weight !important;
					font-size: $default-font-size !important;
					line-height: $default-line-height !important;
					width: calc(100% - 10px);
				}

				textarea {
					background-color: $secondary-background-color !important;
					border-radius: 5px;
					border-left-width: 10px;
					border-left-color: $secondary-background-color !important;
					border-left-style: solid;
					border-top-width: 10px;
					border-top-color: $secondary-background-color !important;
					border-top-style: solid;
					font-weight: $default-font-weight !important;
					font-size: $default-font-size !important;
					line-height: $default-line-height !important;
					height: 100%;
				}

				mat-date-range-input {
					height: 30px !important;
					border-radius: 50px !important;
					border-width: 2px !important;
					border-style: solid !important;
					border-color: $primary-color !important;
					padding: 0 10px !important;
					display: flex !important;
					align-items: center !important;
					justify-content: center !important;
					width: calc(100% - 24px) !important;
					overflow: hidden;

					* {
						background-color: transparent !important;
						border-color: transparent !important;
						border: none !important;

						input {
							margin-left: 7px;
							margin-top: -2px;
						}
					}
				}
			}

			.mat-mdc-form-field-icon-suffix {
				mat-datepicker-toggle {
					display: block;
					margin-top: 0;
					position: relative;
				}

				button {
					margin-top: 10px;
				}
			}
		}
	}

	.mat-mdc-form-field-subscript-wrapper {
		.mat-mdc-form-field-error-wrapper {
			padding: 0 !important;
		}
		.mat-mdc-form-field-hint-wrapper {
			padding: 0 !important;
		}
	}

	.mdc-line-ripple {
		display: none !important;
	}
}

.mat-mdc-dialog-surface {
	border-radius: 25px !important;
}

.mat-mdc-menu-panel {
	border-radius: 20px !important;

	.mat-mdc-menu-content {
		padding: 0 !important;
	}
}

.mat-mdc-paginator-page-size-select {
	width: 100px !important;
}

.mat-expansion-panel {
	--mat-expansion-container-shape: 28px;
}

.readonly {
	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-notched-outline__leading,
	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-notched-outline__notch,
	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-notched-outline__trailing {
		border-color: unset !important;
	}

	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-floating-label,
	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-floating-label--float-above {
		color: var(--mdc-outlined-text-field-label-text-color) !important;
	}

	.mdc-text-field--outlined.mdc-text-field--disabled .mdc-text-field__input {
		color: var(--mdc-outlined-text-field-input-text-color) !important;
	}
}

mat-table {
	mat-footer-row[hidden] {
		display: none !important;
	}

	mat-cell,
	mat-header-cell {
		&:last-of-type {
			padding-right: 0 !important;
		}

		&:first-of-type {
			padding-left: 0 !important;
		}
	}

	.cdk-column-widgetColor,
	.cdk-column-textColor,
	.cdk-column-buttonColor,
	.cdk-column-borderColor,
	.cdk-column-actions,
	.cdk-column-withShadow {
		justify-content: center;

		&.mat-sort-header-container {
			margin-left: 18px;
		}
	}
}

.mat-mdc-button-base:not(.mdc-icon-button) {
	min-width: 135px !important;
	min-height: 30px !important;
	border-radius: 5px !important;
	font-weight: $default-font-weight !important;
	font-size: $default-font-size !important;
	line-height: $default-line-height !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: $primary-color !important;
	background-color: transparent !important;
	color: unset !important;
	transition: all 225ms ease-in-out !important;
	width: min-content !important;

	&.mat-accent:not([disabled]) {
		border-color: $accent-color !important;
	}
}

.mat-mdc-button-base[disabled] {
	border-color: $primary-disabled-color !important;
}

mat-select {
	height: 30px !important;
	border-radius: 50px !important;
	border-width: 2px !important;
	border-style: solid !important;
	border-color: $primary-color !important;
	padding: 0 10px !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;
	width: calc(100% - 24px) !important;

	.mat-mdc-select-trigger {
		.mat-mdc-select-arrow-wrapper {
			margin-top: 15px;
		}
	}
}

.mat-mdc-paginator-page-size {
	mat-select {
		.mat-mdc-select-trigger {
			.mat-mdc-select-arrow-wrapper {
				margin-top: 0px;
			}
		}
	}
}

mat-progress-spinner {
	svg {
		stroke: $accent-color !important;
	}
}

.clickable-tags-container {
	mat-chip {
		cursor: pointer;

		.mat-mdc-chip-action {
			cursor: pointer;

			.mat-mdc-chip-action-label {
				transition: all 225ms ease-in-out !important;
			}
		}
	}

	mat-chip.active {
		.mat-mdc-chip-action {
			.mat-mdc-chip-action-label {
				color: white !important;
			}
		}
	}
}

.mat-mdc-menu-content {
	.user-info {
		padding: 10px;
		display: flex;
		flex-direction: column;
		align-items: center;

		.user-avatar {
			img {
				border-radius: 100%;
				max-width: 200px;
				max-height: 200px;
			}
		}
	}
}

.mat-mdc-dialog-actions {
	justify-content: space-evenly !important;
}

.mat-mdc-button-base + .mat-mdc-button-base {
	margin-left: 0px !important;
}

.mdc-checkbox {
	.mdc-checkbox__native-control {
		&:enabled {
			&:checked {
				& ~ .mdc-checkbox__background {
					border-color: $third-company-color !important;
					background-color: $third-company-color !important;

					svg {
						color: $third-additional-color !important;
					}
				}
			}
		}
	}
}

.language-button {
	width: 100% !important;
	display: flex !important;
	align-items: center !important;
	justify-content: center !important;

	span {
		text-align: center;
		padding-left: 10px;
		padding-right: 10px;
	}
}