$font-family-sans-serif:            'Montserrat', "Helvetica", Arial, sans-serif;
$sans-serif-family:                 'Montserrat', 'Helvetica Neue',  Arial, sans-serif;

$primary-color:                    #929BAD;
$primary-disabled-color:           #D9DCE2;
$secondary-color:                  #333ADD;
$accent-color:                     #01B8FF;
$primary-background-color:         #FFFFFF;
$secondary-background-color:       #E9ECF2;
$accent-half-transparent:          #01B8FF12;
$secondary-half-transparent:       #333ADD25;

$first-company-color:              #21324C;
$second-company-color:             #EAE4DC;
$third-company-color:              #DF1D54;

$first-additional-color:           #CFD1D2;
$second-additional-color:          #5C6854;
$third-additional-color:           #FFFFFF;

$default-font-size:                  14px;
$default-line-height:                17px;
$default-font-weight:                400;