.editor-form {
  padding-top: 10px;
  width: 100%;
}

.change-password-button {
  width: 180px!important;
}

label {
  margin: 4px 0;
  font-size: 75%;
}

.password-requirements {
  margin-top: -15px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
