<div class="reset-password-container">
    <h1 i18n>
        Create New Password
    </h1>
    <span i18n>
        Enter your new password
    </span>
    <form [formGroup]="passwordFormGroup" 
          class="editor-form">
        <mat-form-field class="form-field">
            <mat-label i18n>
                New Password
            </mat-label>
            <input matInput
                   [formControl]="newPasswordFormControl" 
                   [type]="newPasswordVisibility ? 'text' : 'password'">
            <!-- <mat-icon matSuffix (click)="newPasswordVisibility = !newPasswordVisibility">
                {{newPasswordVisibility ? 'visibility' : 'visibility_off'}}
            </mat-icon> -->
        </mat-form-field>
        <div *ngIf="passwordFormGroup.get('newPassword')!.touched && passwordFormGroup.get('newPassword')!.invalid"
            class="password-requirements">
            <label class="col"
                   [ngClass]="passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                    {{ passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('minlength') ? 'cancel' : 'check_circle' }}
                </i>
                <span i18n>
                    Must be at least 8 characters!
                </span>
            </label>
            <label class="col"
                   [ngClass]="passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                    {{ passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasNumber') ? 'cancel' : 'check_circle' }}
                </i>
                <span i18n>
                    Must contain at least 1 number!
                </span>
            </label>
            <label class="col"
                   [ngClass]="passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                    {{ passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasCapitalCase') ? 'cancel' : 'check_circle' }}
                </i>
                <span i18n>
                    Must contain at least 1 in Capital Case!
                </span>
            </label>
            <label class="col"
                   [ngClass]="passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                <i class="material-icons">
                    {{ passwordFormGroup.controls['newPassword'].hasError('required') || passwordFormGroup.controls['newPassword'].hasError('hasSmallCase') ? 'cancel' : 'check_circle' }}
                </i>
                <span i18n>
                    Must contain at least 1 Letter in Small Case!
                </span>
            </label>
        </div>
    
        <mat-form-field class="form-field">
            <mat-label i18n>
                Confirm New Password
            </mat-label>
            <input matInput [formControl]="confirmNewPasswordFormControl"
                [type]="confirmPasswordVisibility ? 'text' : 'password'">
            <!-- <mat-icon matSuffix 
                      (click)="confirmPasswordVisibility = !confirmPasswordVisibility">
                {{confirmPasswordVisibility ? 'visibility' : 'visibility_off'}}
            </mat-icon> -->
            <mat-error *ngIf="confirmNewPasswordFormControl.errors?.['required']"
                       i18n>
                Field is required
            </mat-error>
            <mat-error *ngIf="this.confirmNewPasswordFormControl.errors?.['mismatch']"
                       i18n>
                Passwords do not match
            </mat-error>
        </mat-form-field>
        <button type="submit"
                mat-stroked-button 
                color="primary" 
                class="reset-btn" 
                (click)="resetPassword()"
                [disabled]="btnIsDisabled"
                i18n>
            Reset Password
        </button>
    </form>

    <span class="login-text">
        <a [routerLink]="['/login']"
           i18n>
            Back to login
        </a>
    </span>
</div>
