<div class="welcome-container">
    <h1 i18n>
        Welcome to the app <br>
        & let's get started
    </h1>
    <span i18n>
        This app is the best app, thank you for downloading it. <br>
        You won't regret using it.
    </span>

    <div>
        <button mat-stroked-button 
                color="primary"
                (click)="signUp()"
                i18n>
            Sign up
        </button>
        <button mat-stroked-button 
                color="primary"
                (click)="login()"
                i18n>
            Log in
        </button>
    </div>

    <span class="terms"
          i18n>
        By signing up, I agree to the Terms and Conditions <br>
        and Privacy Policy
    </span>
</div>
