<h1 mat-dialog-title 
	align='center'
	i18n>
	Forgot password ?
</h1>
<div mat-dialog-content
	 class="content">
	<form [formGroup]="userFormGroup" 
		  class="editor-form">
		<mat-form-field class="form-field">
			<mat-label i18n>
				Email
			</mat-label>
			<input matInput 
				   [formControl]="userEmailFormControl">
			<mat-error *ngIf="userEmailFormControl.errors?.['required']"
					   i18n>
				Email is required
			</mat-error>
			<mat-error *ngIf="userEmailFormControl.errors?.['email']"
					   i18n>
				Invalid email
			</mat-error>
		</mat-form-field>
	</form>
</div>
<div mat-dialog-actions 
	 align='center'>
	<div>
		<button mat-stroked-button 
				type="button" 
				(click)="discard()"
				i18n>
			Close
		</button>
	</div>
	<div class="reset-btn" 
		 [matTooltip]="getErrorMessage()">
		<button mat-stroked-button 
				color="primary" 
				type="submit" 
				[disabled]="userFormGroup.invalid"
				(click)="resetPassword()"
				i18n>
			Send
		</button>
	</div>
</div>
<volunterio-loader type="dialog"></volunterio-loader>
