.signup-container {
	@media (max-width: 1100px) {
		height: unset;
		width: unset;
		min-width: 400px;

		h1 {
			margin-top: 20px;
		}

		.login-text {
			margin-bottom: 20px;
		}

		.editor-form {
			width: calc(100% - 40px);
		}
	}
}
